/*! test */
$red: #f00;
html {
    // background: $red;
    height: 100%;
}
body {
    min-height: 100%;
    overflow-x: hidden;
    // display: grid;
    font-family: sans-serif;
    color: black;
}
::placeholder {
    color: gray;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
}
.outline {
    outline: 1px solid red;
}