/*! test */
@import "../../node_modules/normalize.css/normalize"; // no extension tells sass to compile instead of using @import
$red: #f00;
html {
  height: 100%;
}
body {
	// background: $red;
	min-height: 100%;
  // overflow-x: hidden;
  // display: grid;
  //   font-family: sans-serif;
  // color: black;
}
::placeholder {
  color: gray;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
svg {
  fill: currentColor;
}
.outline {
  outline: 1px solid red;
  .outline {
    outline: 1px solid green;
    .outline {
      outline: 1px solid orange;
      .outline {
        outline: 1px solid blue;
      }
    }
  }
}
